html {
    height: 100%;
    display: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
}

body {
    background-color: #fdc350;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

p {
    margin: 10px;
    font-size: 20px;
}

.giphy {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.toggle-mute {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
    background-color: transparent;
    border: none;
}

/* Bootstrap */
.container-fluid {
    max-width: 500px;
}

.btn {
    width: 100%;
}
.btn-group {
    width: 100%;
    margin: 0px !important;

}

/* Landing container */
.landing-container div {
    margin: 10px;
}

/* Prompts Containter */
.prompts-container {
    display: none;
}
.prompts-container div {
    margin: 10px;
}
#new-prompt-text {
    width: 100%;
    height: 100px;
}
#add-prompt-button {
    display: block;
}
#prompt-answer-boolean {
    display: block;
    width: 100%;
}

/* Username Container */
.username-container{
    display: none;
}

.username-container div {
    margin: 10px;
}

#username {
    width: 100%;
}

/* Game Container */
.game-container {
    display: none;
}

.game-container div {
    margin: 10px;
}

.players-list {
    text-align: center;
}

.view-prompt {
    display: none;
}

.prompt-text {
    text-align: center;
}

.after-response {
    display: none;
}

.after-response-next {
    display: none;
}

.after-response-text {
    text-align: center;
}

#response-open-text {
    width: 100%;
    
}

/* Desktop */

@media only screen and (min-width: 600px) {
    .toggle-mute {
        display: block;
    }
}